img {
    width: 230px;
    position: absolute;
    left: 200px;
    top: 200px;
    transition: all 1s;
}

img:hover {
    /* transform: scale(2,2); */
    /* width: 460px; */
    transform: rotate(360deg);
}